html {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    height: 100%;
    max-width: 650px;
}

.signature {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 300px;
}

.nav {
    padding-top: 7px;
    text-align: center;
}

.nav-elements {
    margin-top: 20px;
}

.nav-elements a {
    margin: 0px 30px 0px 6px;
}

#content {
    line-height: 1.6;
    font-size: 18px;
    color: #333;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
