

/* ==========================================================================
   Styles for Main Page of chetaldrich.com
   ========================================================================== */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

/*All Page Effects*/

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.centered {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

/*Navigation Padding*/

#work {
  padding-top: 50px;
}

#skills {
  padding-top: 50px;
}

.navbar-brand {
  padding-top: 5px !important;
}

/*Banner*/

.banner{
  background: url(../img/banner.jpg);
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner h1 {
  font-size: 72px;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.banner h3 {
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
  text-align: center;
}

.banner span {
  font-weight: bold;
}

.social li {
   display: inline-block;
   margin: 0 10px;
   padding: 0;
   font-size: 40px;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

.social li a { color: #fff; }
/*.social li a:hover { color: #1E2850; }*/

.linkedin:hover { color: #4875B4;}
.facebook:hover { color: #3B5998;}
.twitter:hover { color: #33CCFF;}
.github:hover { color: black;}

.social {
  text-align: center;
}

/* About */

.about h1, h2, h3, h4, h5, h6 {
  color: white;
  font-size: 22px
  margin-bottom: 12px;
}

.about p {
  color: #999;
  font-size: 15px;
}

.about {
   background: #2B2B2B;
   padding-top: 60px;
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 30px;
   min-height: 50vh;
   overflow: hidden;
}

.about .profpic {
   position: relative;
   width: 170px;
   height: 170px;
   border-radius: 100%;
   max-width: 100%;
   height: auto;
}

.downloadbutton {
  width: 100%;
  text-align: center;
  background: #555;
  display: block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 18px;
  border: none;
  cursor: pointer;
  height: auto;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  border-radius: 3px;
}

.contactdetails {
  padding-bottom: 20px;
}

.downloadbutton:hover{
   background: #fff;
   color: #444;
}

/*education-work*/

.experience {
   background: white;
   padding-top: 96px;
   padding-bottom: 26px;
   overflow: hidden;
}

.education-work h2 {
  color: black;
  font-size: 20px;
}

.education-work h3 {
  color: black;
  border-bottom: 5px solid #1E2850;
  display: inline-block;
}

.education-work h4 {
  color: #555;
  font-style: italic;
}

.education-work p {
  color: #555;
}

.education-work li {
  color: #555;
}

/* Skills */


.skills h3 {
  color: black;
  border-bottom: 5px solid #1E2850;
  display: inline-block;
}

.info {
  position: relative;
  background: white !important;
  margin-bottom: 70px !important;
  height: auto !important;
  border-radius: 5px;

}


/* Skill Bars */

.bars {
  width: 95%;
  float: left;
  padding-top: 30px;
  text-align: left;
}
.bars .skillbar {
  margin-top: 36px;
  list-style: none;
  margin-left: -40px;
  padding-top: 20px;
}
.bars li {
  position: relative;
  margin-bottom: 40px;
  background: #ccc;
  height: 42px;
  border-radius: 5px;
}

.bars p {
  font-size: 15px;
  padding-bottom: 20px;
}

.bars li em {
  font-size: 20px;
  color: #313131;
  font-style: normal;
  position: relative;
  top: -36px;
}
.bars li em img {
  height: 1.5em;
  width: 1.5em;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
   background: #313131;
   display: inline-block;
   height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.html {
    width: 80%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.css {
    width: 70%;
    -moz-animation: css 2s ease;
    -webkit-animation: css 2s ease;
}

.javascript {
    width: 60%;
    -moz-animation: photoshop 2s ease;
    -webkit-animation: photoshop 2s ease;
}

.java {
    width: 80%;
    -moz-animation: photoshop 2s ease;
    -webkit-animation: photoshop 2s ease;
}

.python {
    width: 80%;
    -moz-animation: photoshop 2s ease;
    -webkit-animation: photoshop 2s ease;
}

/*Projects*/

.projects {
   background: #eee;
   padding-top: 30px;
   padding-bottom: 66px;
   overflow: hidden;
}

.projects img {
  display: block;
  margin: auto;
  border-radius: 5px;
}

.projects h2 {
  color: black;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

/* Contact */

.contact {
   background: #2B2B2B;
   padding-top: 46px;
   padding-bottom: 66px;
   padding-right: 30px;
   padding-left: 30px;
   overflow: hidden;
}

.contact #mailtext {
  padding-top: 30px;
  font-size: 20px;
  color: #999;
}

.contact #link {
  font-size: 20px;
  color: #ccc;
}

.contact #link:hover {
  color: #999;
}

.contact a:hover {
  text-decoration: none;
}

.mail a {
  color: white;
  font-size: 100px;
}

.mail a:hover {
  color: #aaa;
}

#cpright {
  color: white;
  text-align: center;
}
