// Colors

$background: #fff
$accent1: #1776e2
$focusaccent1: #0f539b
$frog: #26c03b

// Fonts

@font-face
  font-family: remachine_script
  src: url('/images/remachine_script.ttf')

.remachine
  font-family: remachine_script
