.entries h2
  text-decoration: none
  color: black

.entry
  display: block
  width: 70%
  margin: 0 auto

.jumbotron
  background-color: #1E2850
  h1
    color: white
    letter-spacing: .02em

.articlestitle
  text-align: center
