.entry
  display: block
  width: 70%
  margin: 0 auto
  h2
    text-decoration: none
    color: black

.jumbotron
  background-image: url(/images/typewriter.jpg)
  background-size: cover
  min-height: 50vh
  h1
    color: white
    font-size: 90px

.articlestitle
  text-align: center
