.contact
  background: #2B2B2B
  padding-top: 46px
  padding-bottom: 66px
  padding-right: 30px
  padding-left: 30px
  overflow: hidden
  #mailtext
    padding-top: 30px
    font-size: 20px
    color: #999
  #link
    font-size: 20px
    color: #ccc
    &:hover
      color: #999
  a:hover
    text-decoration: none

.mail a
  color: white
  font-size: 100px
  &:hover
    color: #aaa

#cpright
  color: white
  text-align: center
