.post
  max-width: 40em
  margin: 0 auto
  padding-right: 1em



.post-brand
  text-align: center
  a
    @extend .mainlogo
    color: #333
    &:hover
      color: #333
  h1
    padding: 10px
    font-weight: bold

.postcontent
  a
    font-weight: bold  
  p
    line-height: 1.75
    font-size: 16px
    font-family: "Helvetica Neue"
    color: #555
