//= require ../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
//= require ../../bower_components/fontawesome/scss/font-awesome.scss

@import banner
@import about
@import education
@import work

body
  padding-top: 50px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

.centered
  display: block !important
  margin-left: auto !important
  margin-right: auto !important
  text-align: center !important

.navbar-brand
  padding-top: 5px !important
