= wrap_layout :layout do
  .postwrapper
    .post
      .post-brand
        %a{:href => "/"} chetaldrich
        %h1= current_article.title || "" unless current_article.nil?
        %hr

      %article~ yield

      .postfooter
        %hr
        = link_to "&larr; More Posts", "/articles"
