#about.about
  .container
    .row
      .col-md-3.col-xs-12
        %img.profpic.centered{:alt => "Chet", :src => "images/profilepic.png"}/
      .col-md-9.col-xs-12
        %h2.centered About Me
        %p
          An aspiring developer by day, cellist by night, I'm currently a junior at Carleton College studying computer science. I recently spent some
          time at
          %a.frog{:href => "http://frogdesign.com"} frog
          interning with an interaction design team and doing some front-end development.
          Additionally, I'm currently interning at
          %a.pandora{:href => "http://www.pandora.com/"} Pandora
          with the
          %a.pandora{:href => "http://amp.pandora.com/"} AMP
          team this summer!
          %br/
          %br/
    .row
      .col-md-3.col-md-offset-6.col-xs-12
        %p.centered
          %a.downloadbutton{:href => "images/aldrichc_web_resume.pdf"}
            %i.centered.fa.fa-download
            Download Resume
