#about.about
  .container
    .row
      .col-md-3.col-xs-12
        %img.profpic.centered{:alt => "Chet", :src => "images/profilepic.png"}/
      .col-md-9.col-xs-12
        %h2.centered About Me
        %p
          A software engineer by day, cellist by night, I'm currently a senior at Carleton College studying computer science. A self-proclaimed music nerd, I recently spent the summer at
          %a.pandora{:href => "http://www.pandora.com/"} Pandora
          with the Music Industry team, which creates  
          %a.pandora{:href => "http://amp.pandora.com/"} AMP
          and other initiatives for artists. I was working on some really exciting projects with ginormous amounts of data, which you can read about
          %a.pandora{:href => "http://chetaldrich.com/blog/2015/08/24/InfinitePowerofThumbs/"} here.
          Thanks for taking a look at the site! 
          %br/
          %br/
    .row
      .col-md-3.col-md-offset-6.col-xs-12
        %p.centered
          %a.downloadbutton{:href => "images/aldrichc_web_resume.pdf"}
            %i.centered.fa.fa-eye
            View Resume
