#banner.banner
  .container
    .row
      %h1.col-xs-12.remachine chetaldrich
      %h3 web developer, graphic designer, and aspiring software engineer
      %hr/
    .row
      %ul.social.col-xs-12
        %li
          %a.facebook{:href => "https://www.facebook.com/chet.aldrich"}
            %i.fa.fa-facebook
        %li
          %a.twitter{:href => "https://twitter.com/ChetAldrich"}
            %i.fa.fa-twitter
        %li
          %a.linkedin{:href => "https://www.linkedin.com/in/chetaldrich"}
            %i.fa.fa-linkedin
        %li
          %a.github{:href => "https://github.com/chetaldrich"}
            %i.fa.fa-github
    .arrow
      %a.down_arrow{:href => "/#about"}
        %img.downarrow{:alt => "Go down for more!", :src => "images/arrow_down.png", :width => "70px"}
