#education.education
  .container
    .row
      .col-md-3.col-xs-12.centered.title
        %h3 Education
      .col-md-9.col-xs-12.education-content
        .row
          .col-md-2.col-xs-12
            %img.logo{:alt => "Carleton College", :src => "images/carleton.png", :width => "100px"}/
          .col-md-10.col-xs-12
            %h2 Carleton College
            %h4 B.A. Computer Science • Expected 2016
            %p
              Slated to graduate in June of 2016 with a Computer Science major and significant coursework in mathematics.
              Studied Russian Language and Culture at Moscow State University in a Carleton sponsored study abroad.
        .row
          .col-md-2.col-xs-12
            %img.logo{:alt => "Moscow State University", :src => "images/msu.png", :width => "100px"}/
          .col-md-10.col-xs-12
            %h2 Moscow State University
            %h4 Russian Language and Culture • Spring 2014
            %p
              Studied Russian language, history, and culture in Moscow and near Lake Baikal as part of a Carleton sponsored study abroad program.
