.container.fix-top
  %nav.masthead
    = link_to "chetaldrich", "/", :class => "masthead-brand"

    %ul.nav.masthead-nav
      %li
        = link_to "Articles", "articles"
      %li
        - if current_page.path.eql? "articles.html"
          = link_to "Projects", "/#projects"
        - else
          %a.projects_link Projects
      %li
        - if current_page.path.eql? "articles.html"
          = link_to "Contact", "/#contact"
        - else
          %a.contact_link Contact
