.container.fix-top
  %nav.masthead
    %a.masthead-brand{:href => "/"} chetaldrich

    %ul.nav.masthead-nav
      %li
        %a{:href => "blog"} Articles
      %li
        %a.projects_link Projects
      %li
        %a.contact_link Contact
