.container.fix-top
  %nav.masthead
    %a.masthead-brand{:href => "/"} chetaldrich

    %ul.nav.masthead-nav
      %li
        %a{:href => "blog"} Articles
      %li
        - if current_page.path.eql? "blog.html"
          %a{:href => "/#projects"} Projects
        - else
          %a.projects_link Projects
      %li
        - if current_page.path.eql? "blog.html"
          %a{:href => "/#contact"} Contact
        - else
          %a.contact_link Contact
