.container.fix-top
  %h3.masthead-brand.remachine chetaldrich

  // TODO make this part mobile responsive somehow
  %nav
    %ul.nav.masthead-nav
      %li
        %a{:href => "blog"} Articles
      %li
        %a{:href => "#projects"} Projects
      %li
        %a{:href => "#contact"} Contact
