.mainnav.navbar-fixed-top{:role => "navigation"}
  .navigation.center.container
    %a= link_to image_tag("calogo.png"), "/"
    %a= link_to "Projects", "projects"
    %a= link_to "Blog", "blog"
    %a= link_to "Email", "mailto:chetaldrich@gmail.com"
