.container.fix-top
  %nav.masthead
    %a.masthead-brand{:href => "/"} chetaldrich
    
    %ul.nav.masthead-nav
      %li
        %a{:href => "blog"} Articles
      %li
        %a{:href => "/#projects"} Projects
      %li
        %a{:href => "/#contact"} Contact
