.skills.container
  #skills.row
    .col-md-3.col-xs-12.centered.skills
      %h3 Skills
    .skillbars
      .col-md-9.col-xs-12
        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title
            %span
              HTML/HAML
          .skillbar-bar{:style => "background: #3498db;"}
          .skill-bar-percent Proficient 
        / End Skill Bar
        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title
            %span
              CSS/SASS
          .skillbar-bar{:style => "background: #2c3e50;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        %p
          I've spent some time developing my familiarity with HTML and CSS (also SASS) for front-end development and responsive web design.
          This website is one of the products of that work. I've also worked on a few minor fixes and a new feature's front end at Pandora, using a combination of Velocity templates and SCSS. Finally, I have signficant experience with Bootstrap, a front-end CSS and JavaScript framework.
        .skillbar.clearfix{"data-percent" => "75%"}
          .skillbar-title
            %span
              JavaScript
          .skillbar-bar{:style => "background: #edeb2e;"}
          .skill-bar-percent Proficient 
        / End Skill Bar
        %p
          I'm familiar with JavaScript in the context of web development, and worked with JavaScript in production at Pandora, dealing with D3.js as well as Backbone and jQuery.
          %br/
          %br/
        .skillbar.clearfix{"data-percent" => "90%"}
          .skillbar-title
            %span
              Java
          .skillbar-bar{:style => "background: #2ecc71;"}
          .skill-bar-percent Experienced 
        / End Skill Bar
        %p
          I have significant experience in Java stemming from a vast majority of the backend at Pandora being in Java, using everything from Jetty to Hadoop in production environments.
          In addition, I've dabbled with genetic programming in Java, which was used to create an intelligent player for
          %a{:href => "http://cs.gettysburg.edu/~tneller/games/pokersquares/eaai/intro.pdf"} Poker Squares.
          The project can be viewed
          %a{:href => "https://github.com/chetaldrich/pokersquares"} here.

        .skillbar.clearfix{"data-percent" => "85%"}
          .skillbar-title
            %span
              Python
          .skillbar-bar{:style => "background: #4288d0;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        %p
          I have experience using Python in a variety of applications, from web development to machine learning to acceptance tests. 
          An example is where I used machine learning techniques to recognize
          %a{:href => "http://yann.lecun.com/exdb/mnist/"} MNIST
          digits, which includes over 60,000 handwritten digits that were used for training in
          %a{:href => "https://github.com/chetaldrich/MLOCR"} this project.


        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title
            %span
              C
          .skillbar-bar{:style => "background: #242625;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        %p
          I have some non-trivial work that has been done in C, which includes an ongoing bug fix for scrollbars in the 32-bit implementation of Windows in Wine, open source virtualization software for Linux. In addition, I've implemented a rudimentary interpreter for Scheme, a functional programming language which is a descendant of Lisp.
        .skillbar.clearfix{"data-percent" => "60%"}
          .skillbar-title
            %span
              Ruby
          .skillbar-bar{:style => "background: #a30a0a;"}
          .skill-bar-percent Familiar
        / End Skill Bar
        %p
          Finally, I have some experience with Ruby, which is mostly self-taught, and manifests itself in small scripts and some of the knowledge used to build this website, which is currently built with Middleman.
