.skills.container
  #skills.row
    .col-md-3.col-xs-12.centered.skills
      %h3 Skills
    .skillbars
      .col-md-9.col-xs-12
        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title{:style => "background: #2980b9;"}
            %span
              HTML5
          .skillbar-bar{:style => "background: #3498db;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title{:style => "background: #2c3e50;"}
            %span
              CSS3
          .skillbar-bar{:style => "background: #2c3e50;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        %p
          Recently I've spent some time developing my skills in HTML and CSS for front-end development and responsive web design.
          This website is one of the products of this work, which also functions well on mobile! Additionally, I have signficant experience with Bootstrap, a front-end
          CSS and JavaScript framework.
        .skillbar.clearfix{"data-percent" => "70%"}
          .skillbar-title{:style => "background: #333333;"}
            %span
              JavaScript
          .skillbar-bar{:style => "background: #525252;"}
          .skill-bar-percent Familiar
        / End Skill Bar
        %p
          I've also spent some time learning JavaScript in the context of web development, and
          my largest venture using JavaScript so far has been developing SharePlay with a team of two others at a hackathon
          at the Georgia Institute of Technology. This particular project used Twilio and Beats Music to play
          music on your computer by text from your cell phone as well as do concurrent playlist management using Meteor.js.
          %br/
          %br/
          Finally, I have experience using jQuery and d3.js for web development, which can be seen on a few of my
          %a{:href => "https://github.com/chetaldrich"} projects
          and also right here!
          %br/
          %br/
          I'm currently hoping to explore other full stack technologies, such as the MEAN stack, and I am looking to learn on AngularJS for front-end.
        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title{:style => "background: #27ae60;"}
            %span
              Java
          .skillbar-bar{:style => "background: #2ecc71;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        %p
          I have significant experience in Java stemming from courses I have taken at Carleton, specifically
          Data Structures and Software Design, where Java has been used extensively. Recently, I produced an Asteroids
          game using the JavaFX framework, the code for which is viewable
          %a{:href => "https://github.com/chetaldrich/Asteroids"} here.
        .skillbar.clearfix{"data-percent" => "80%"}
          .skillbar-title{:style => "background: #124e8c;"}
            %span
              Python
          .skillbar-bar{:style => "background: #4288d0;"}
          .skill-bar-percent Proficient
        / End Skill Bar
        %p
          Additionally, I have experience using Python, mostly in the context of web applications. A good example of this is
          %a{:href => "https://github.com/chetaldrich/targethelp"} AskTarget
          application,
          built using Twilio and the Flask web framework, which acts as a help center in a retail store accessible by phone.
        .skillbar.clearfix{"data-percent" => "60%"}
          .skillbar-title{:style => "background: #660a0a;"}
            %span
              Ruby
          .skillbar-bar{:style => "background: #a30a0a;"}
          .skill-bar-percent Familiar
        / End Skill Bar
        %p
          Finally, I have recently been learning Ruby, specifically in the context of Ruby on Rails for the time being.
