#work.container.work
  .col-md-3.col-xs-12.centered
    %h3 Work Experience
  .col-md-9.col-xs-12
    .row
      .col-md-2.col-xs-12
        %img.logo{:alt => "Pandora", :src => "images/pandora.png", :width => "100px"}/
      .col-md-10.col-xs-12
        %h2 Pandora
        %h4 Software Engineering Intern (Core)
        %h4 Summer 2015
        %ul
          %li Will be working with the Core engineering team at Pandora as a full stack developer.
    .row
      .col-md-2.col-xs-12
        %img.logo{:alt => "Frog Design", :src => "images/frog.png", :width => "100px"}/
      .col-md-10.col-xs-12
        %h2 frog
        %h4 Design Technologist Intern
        %ul
          %li Worked with an agile development team in the process of developing interaction models for a major client.
          %li Built sensor modules with temperature, humidity, light, and motion sensors integrated with Raspberry Pi devices placed around the frog San Francisco office to serve JSON data to a web application designed to provide simple data visualizations.
    .row
      .col-md-2.col-xs-12
        %img.logo{:alt => "Northfield Enterprise Center", :src => "images/nec.png", :width => "100px"}/
      .col-md-10.col-xs-12
        %h2 Northfield Enterprise Center
        %h4 Small Business Generalist
        %ul
          %li Fixed bugs in the Northfield Enterprise Center WordPress website.
          %li
            Worked for a number of clients:
        .row
          .col-md-2.col-xs-12
            %img.logo{:alt => "Brand Yourself", :src => "images/brandyourself.gif", :width => "70px"}/
          .col-md-10.col-xs-12
            %p.clients
              Developed a templating system to ease creating pre-made social media campaigns for
              %a{:href => "http://www.brandyourselfconsulting.com/"} Brand Yourself,
              a social media consultancy.
        .row
          .col-md-2.col-xs-12
            %img.logo{:alt => "Leadership Tools", :src => "images/leadershiptools.jpeg", :width => "70px"}/
          .col-md-10.col-xs-12
            %p.clients
              Designed marketing materials for Leadership Tools, a small Northfield
              based consultancy.
    .row
      .col-md-2.col-xs-12
        %img.logo{:alt => "Obermueller for Congress", :src => "images/obermueller.png", :width => "100px"}/
      .col-md-10.col-xs-12
        %h2 Obermueller for Congress
        %h4 Summer Finance and Marketing Intern
        %ul
          %li
            Devised a quick method for entering donor information using optical character
            recognition, saving many hours of labor in data entry.
          %li Worked with data entry for prospective donors.
          %li
            Location scouted and performed audio setup during public fundraisers
            for the campaign.
    .row
      .col-md-2.col-xs-12
        %img.logo{:alt => "Marketplace Magazine", :src => "images/marketplacemagazine.png", :width => "130px"}/
      .col-md-10.col-xs-12
        %h2 Marketplace Magazine
        %h4 Print and Web Designer
        %ul
          %li IT: Developed the first online edition of the magazine on their website.
          %li Pre-Press: Designed client automobile magazine pages.
