html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                  Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    height: 100%;
    max-width: 650px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

hr {
	height: 6px;
	background: url("/images/hr.png") repeat-x 0 0;
    border: 0; 
} 

a {
    color: #222;
    transition: 100ms color linear
}

a:hover {
    color: #2691EF
}

.signature {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 300px;
}

.nav {
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: center;
}

.nav-elements {
    margin-top: 40px;
}

.nav-elements a {
    margin: 6px 30px 0px 6px;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
}

@media screen and (max-width: 340px) {
  .nav-elements a {
    margin: 6px 15px 0px 6px;
  }
}

#content {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.footer {
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.footer-left {
  width: 80%;
  float:left;
}

.footer-right {
  float: right; /* add this */
}

.elevator-button {
  margin-top: 12px;
  vertical-align: middle;

}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

/* Post markdown css */
.caption {
  display: none;
}

.figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
