{{ define "main" }}
<p>Hey, I'm Chet.</p>

<p>Professional data plumber. Dog whisperer. All-around nice guy.</p>

<p>
    I'm currently building data pipelines and backend infrastructure at <a href="https://postmates.com">Postmates</a>.
    I also spent some time at <a href="https://pandora.com">Pandora</a> building content and advertising tools such as
    <a href="https://amp.pandora.com">AMP</a>.
</p>

<p>
    You may find me reading about distributed systems, functional programming, economics, finance,
    artificial intelligence, history, and even the occasional travelogue in my spare time. Feel free to check out what
    I'm
    reading <a href="https://www.goodreads.com/user/show/61719074-chet-aldrich">here</a>.
    I'm also an avid traveler and occasional hiker, and those adventures will show up in the blog from time to time.
</p>

<p>
    If you'd like to see some samples of my work, feel free to check out my <a href="/projects.html">projects</a>.
</p>

<p>
    If you're here looking to hire me, or just have a book recommendation you'd like to share,
    feel free to ping me at <a href="mailto:chetaldrich@gmail.com">chetaldrich@gmail.com</a>.
    If you're just here to look, you can also check out my <a href="https://linkedin.com/in/chetaldrich">LinkedIn</a>
    and
    <a href="https://github.com/chetaldrich">Github</a>.
</p>
{{ end }}