<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chet Aldrich - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
</head>

<body>

    <div class="nav">
        <img class="signature" src="/assets/signature_animated.svg" alt="Chet Aldrich">
        <div class="nav-elements">
            <a href="/about.html">About</a>
            <a href="/contact.html">Contact</a>
            <a href="/assets/resume.pdf">Resume</a>
        </div>
    </div>


    <div id="content">
        <h1>$title$</h1> $body$
    </div>

</body>

</html>
