<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chet Aldrich - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
      <div class="nav">
          <a href="/"><img class="signature" src="/assets/signature_animated.svg" alt="Chet Aldrich"></a>
          <div class="nav-elements">
              <a href="/about.html">About</a>
              <a href="/contact.html">Contact</a>
              <a href="/assets/resume.pdf">Resume</a>
          </div>
        </div>
        <hr>
      <div id="content">
          $body$
      </div>

      <!-- <div id="contact">
      <ul class="fa-ul">
          <li>
              <a href="mailto:chetaldrich@gmail.com">
                  <i class="fa fa-li fa-envelope"></i>
                  chetaldrich@gmail.com
              </a>
          </li>
          <li>
              <a href="https://github.com/chetaldrich">
                  <i class="fa fa-li fa-github"></i>
                  github.com/chetaldrich
              </a>
          </li>
          <li>
              <a href="https://linkedin.com/in/chetaldrich">
                  <i class="fa fa-li fa-linkedin"></i>
                  linkedin.com/in/chetaldrich
              </a>
          </li>
      </ul>
    </div> -->

</body>

</html>
