<div class="nav">
	<a href="/"><img class="signature" src="/assets/signature_animated.svg" alt="{{ .Site.Params.Author }}"></a>
	<div class="nav-elements">
		<a href="/projects.html">Projects</a>
		<a href="/archive.html">Blog</a>
		<a href="/resume.pdf">Resume</a>
	</div>
</div>
<hr>
<!-- <header>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	{{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</header> -->