=partial "partials/nav"

.jumbotron
  %h1.remachine.articlestitle From the Desk of Chet Aldrich

- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
.entries
  .container
    %h1 Coming soon!
    -# - page_articles.each_with_index do |article, i|
    -#   .entry
    -#     %h2
    -#       = link_to article.title, article
    -#     %span Chet Aldrich &middot;
    -#     %span= article.date.strftime('%b %e %Y')
    -#     %p= article.data.summary
    -#     %hr
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page
